
{% extends 'base.html' %}
{% block title %} show my task {% endblock title %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <main>

        <div>
            <h1>My Tasks</h1>
            <a href="{% url "create_task" %}">create task</a>
            {% if show_my_task.all  %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    <th>Project</th>
                </thead>
                <tbody>
                    {% for show in show_my_task.all %}
                    <tr>
                        <td>{{show.name}}</td>
                        <td>{{show.start_date}}</td>
                        <td>{{show.due_date}}</td>
                        <td>{{show.is_completed|yesno}}</td>
                        <td>{{show.project.name}}</td>
                        <td><a href="{% url 'delet_task' show.id %}">delet</a></td>
                        <td><a href="{% url 'update_task' show.id %}">edit</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You have no tasks</p>


            {% endif %}
        </div>

    </main>
    {% endblock content %}

</body>

</html>
