{% extends 'base.html' %}


{% block title %}
Updating task
{% endblock title %}




{% block content %}
<h1>Updating</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button>edit</button>

    </form>
{% endblock content %}
