{% extends 'base.html' %}
{% block title %} login.html {% endblock title %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="{% url "login" %}">login</a></li>
            <li><a href="{% url "signup" %}">signup</a></li>
        </ul>
    </nav>
</header>

<body>
    {% block content %}
    <main>

        <div>
            <h1> Login </h1>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button>Login</button>
                </form>
        </div>

    </main>
    {% endblock content %}
</body>

</html>
