{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <main>

        <div>
            <h1> Signup </h1>
                {{form.errors.as_text}}
                <form method="post">
                {% csrf_token %}


                    <label for="fname" >first name</label>
                    <input type="text" id="fname" name="fname" placeholder="create flname" required>
                    <br>

                    <label for="lname" >last name</label>
                    <input type="text" id="lname" name="lname" placeholder="create second name" required>
                    <br>

                    <label for="username" >username</label>
                    <input type="text" id="username" name="username" placeholder="create username" required>
                    <br>

                    <label for="email" >email</label>
                    <input type="email" id="email" name="email" placeholder="create email" require>
                    <br>

                    <label for="password" >password</label>
                    <input type="password" id="password" name="password" placeholder="create password" required>
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                    <br>
                    <label for="password confirmation" >confirm your password</label>
                    <input type="password" id="password_confirmation" name="password_confirmation" placeholder="confirm your password" required>
                    <br>
                    <button type="submit">create</button>
                    <br>


                    <button>Sign up</button>
                </form>
            <h3>{{rensponse}}</h3>
        </div>

    </main>
    {% endblock content %}
</body>

</html>
