{% extends 'base.html' %}
<!DOCTYPE html>
{% block title %} project {% endblock title %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        {% block content %}
        <div>
            <div style="text-align: center;">
                <h1>My Projects</h1>
            </div>
            {% if list_project  %}
            <table class="table">
                <thead class="table-dark">
                    <th>Name</th>
                    <th >Number of tasks</th>
                    <th>edit</th>
                </thead>
                <tbody>
                    {% for list  in list_project  %}
                    <tr>
                        <td> <a  href="{%url "show_project" list.id %}" style="text-decoration: none; color: black" id="name">{{list.name}}</a></td>
                        <td style="padding-left: 64px ;">{{list.tasks.all|length}}</td>
                        <td ><a href="{% url "updating_project" list.id  %}" style="text-decoration: none; color: black" >edit<a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% comment %} <p>This project has no tasks</p> {% endcomment %}
            <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
        <a style= "background-color: black; border-color: whitesmoke;" href="{% url "create_project" %}" class="btn btn-primary" role="button">Create Project</a>
        {% endblock content %}


    </main>
</body>
</html>
