{% extends 'base.html' %}

{% block content %}

{% if form_project %}

{% for form in form_project %}

<table>
    <tbody>
        <tr>
            <td><a href="{% url "show_project" form.id %}">{{form.name}}</a></td>
        </tr>
    </tbody>
</table>

{% endfor %}
{% for form in form_task %}
<table>
    <tbody>
        <tr>
            <td><a href="{% url "show_project" form.project.id %}">{{form.name}}</a>--> from {{form.project.name}}</td>
        </tr>
    </tbody>
</table>
{% endfor %}
<h1> u ve been searching {{search}}</h1>
<h1>{{form.description}}</h1>
{% else %}
<h1> kosong</h1>
{% endif %}

{% endblock content %}
