
{% extends 'base.html' %}
<!DOCTYPE html>
{% block title %} Show project {% endblock title %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        {% block content %}
        <div>

            <div style="text-align: center;">
                <h1>{{list_task.name}}</h1>
            </div>
            {% if list_task.tasks.all %}

            <table class="table">
                <thead class="table-dark">
                    <th>Task</th>
                    <th>Assignee</th>
                    <th style=" padding-left: 50px;">Start date</th>
                    <th style=" padding-left: 50px;">Due date</th>
                    <th>Is completed</th>
                    <th>edit</th>
                </thead>
            <tbody>
                {% for list in  list_task.tasks.all %}
                <tr>
                    <td>{{list.name}}</td>
                    <td>{{list.assignee}}</td>
                    <td>{{list.start_date}}</td>
                    <td>{{list.due_date}}</td>
                    <td style="padding-left: 50px;">{{list.is_completed|yesno}}</td>
                    <td><a href="{% url "update_task" list.id%}">edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
        </div>
        <a style= "background-color: black; border-color: whitesmoke;" href="{% url "create_task" %}" class="btn btn-primary" role="button">Create Project</a>
        {% endblock content %}
    </main>
</body>

</html>
