{% extends 'base.html' %}


{% block title %}
Updating project
{% endblock title %}




{% block content %}
<h1>Updating</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">edit</button>
    </form>
{% endblock content %}
