
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets1.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        {% include "nav.html" %}
        {% comment %} <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url "show_my_tasks" %}">My tasks</a></li>
                <li><a href="{% url "list_projects" %}">My projects</a></li>
                <li><a href="{% url "logout" %}">logout</a></li>
                <li>
                    <form method="post" action="{% url "searched_bar" %}">
                        {% csrf_token %}
                        <input type="search" placeholder="Search projects" name="searched">
                        <button type="submit">submit</button>
                    </form>
                </li>
                {% else %}

                <li><a href="{% url "login" %}">login</a></li>
                <li><a href="{% url "signup" %}">signup</a></li>
                {% endif %}

            </ul>
        </nav> {% endcomment %}

    {% block content%}
    {% endblock content %}
</body>
</html>
