
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Project Mapper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "show_my_tasks" %}">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "list_projects" %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "logout" %}">Logout</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">{{user.username}}</a>
          </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "login" %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "signup" %}">Signup</a>
            {% endif %}
        </ul>
        <form class="d-flex" role="search" method="post" action="{% url "searched_bar" %}" >
            {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
